# LISTS

##### List in Python are ordered and have a definite count. The elements in a list are indexed according to a definite sequence and the indexing of a list is done with 0 being the first index. Each element in the list has its definite place in the list, which allows duplicating of elements in the list, with each element having its own distinct place and credibility.

### **MUTABLE IN NATURE**

### Empty Lists

In [1]:
# empty list
empty_list = []
empty_list

[]

### Accessing List Elements and Slicing

In [2]:
courses = ['History', 'Math' , 'Physics' , 'CompSci']
courses

['History', 'Math', 'Physics', 'CompSci']

In [3]:
# first element
courses[0]

'History'

In [4]:
# last element
courses[3]

'CompSci'

In [5]:
# last element
courses[-1]

'CompSci'

In [6]:
# range of elements - ending index is not included
courses[0:2]

['History', 'Math']

In [7]:
# Accessing based on a Step Size

out = []
for i in range(0,3,2):
    out.append(courses[i])
out

['History', 'Physics']

In [8]:
# OR
# [START: STOP : STEP]

courses[::2]

['History', 'Physics']

### Updating Lists

In [9]:
# updating elements
courses[0] = 'Chemistry'
courses

['Chemistry', 'Math', 'Physics', 'CompSci']

In [10]:
# updating elements
courses[-2:] = ['Geography','English']
courses

['Chemistry', 'Math', 'Geography', 'English']

In [11]:
# deleting an element
print(courses)
del(courses[0])
courses

['Chemistry', 'Math', 'Geography', 'English']

['Math', 'Geography', 'English']

### Concatenating Lists

In [12]:
# concatenating - doesnt change the original list
courses + ['Finance', 'Accounting']

['Math', 'Geography', 'English', 'Finance', 'Accounting']

### Length of Lists

In [13]:
courses = ['History', 'Math' , 'Physics' , 'CompSci']
len(courses)

4

### Getting Index

In [14]:
courses = ['History', 'Math' , 'Physics' , 'CompSci']
courses.index('CompSci')

3

### Check if an Element is Present in the List or Not

In [15]:
courses = ['History', 'Math' , 'Physics' , 'CompSci']
'Art' in courses

False

In [16]:
courses = ['History', 'Math' , 'Physics' , 'CompSci']
'History' in courses

True

### Adding Elements to a List

In [17]:
# add element to the end of the list
courses.append('Art')
courses

['History', 'Math', 'Physics', 'CompSci', 'Art']

In [18]:
# add element at the specified index
courses.insert(0,'Psychology')
courses

['Psychology', 'History', 'Math', 'Physics', 'CompSci', 'Art']

### Extending a list

In [19]:
# adding a new list to an existing list

courses = ['Math','English']
courses_2 = ['Art','Science']
print("courses: ",courses)
print("courses_2: ",courses_2)
courses.insert(0,courses_2)
print("new courses: ",courses)
# we dont want this as it adds a list within a list

courses = ['Math','English']
courses_2 = ['Art','Science']
print("courses: ",courses)
print("courses_2: ",courses_2)
courses_2.extend(courses)
print("new courses: ",courses_2)

courses:  ['Math', 'English']
courses_2:  ['Art', 'Science']
new courses:  [['Art', 'Science'], 'Math', 'English']
courses:  ['Math', 'English']
courses_2:  ['Art', 'Science']
new courses:  ['Art', 'Science', 'Math', 'English']

### Removing Elements

In [20]:
# Removing a specific element
list_1 = [1,2,3,4,5]
print("list 1: ",list_1)
list_1.remove(1)
print("new list 1: ",list_1)

list 1:  [1, 2, 3, 4, 5]
new list 1:  [2, 3, 4, 5]

### Sorting a List - A to Z

In [21]:
courses = ['History', 'Math' , 'Physics' , 'CompSci']
courses.sort()
courses

['CompSci', 'History', 'Math', 'Physics']

### Sorting a List - Z to A

In [22]:
courses = ['History', 'Math' , 'Physics' , 'CompSci']
courses.sort(reverse=True)
courses

['Physics', 'Math', 'History', 'CompSci']

### Reversing a List

In [23]:
# reversing a list
print(courses)
courses.reverse()
print(courses)

['Physics', 'Math', 'History', 'CompSci']
['CompSci', 'History', 'Math', 'Physics']

### Copy and Shallow Copy

In [24]:
# Copying a list

# changes in y will change elements in x
x = [1,2,3]
y = x
print("old x: ",x)
y.append(4)
print("new y: ",y)
print("new x: ",x)

old x:  [1, 2, 3]
new y:  [1, 2, 3, 4]
new x:  [1, 2, 3, 4]

In [25]:
# Making a Shallow Copy so that changes are not reflected in the original list

x = [1,2,3]
y = x.copy()
print("old x: ",x)
y.append(4)
print("new y: ",y)
print("new x: ",x)

old x:  [1, 2, 3]
new y:  [1, 2, 3, 4]
new x:  [1, 2, 3]

### Numeric Lists

In [26]:
nums = [1,5,3,4,2]
nums

[1, 5, 3, 4, 2]

In [27]:
# Sorting
nums.sort()
nums

[1, 2, 3, 4, 5]

In [28]:
min(nums)

1

In [29]:
max(nums)

5

In [30]:
sum(nums)

15

### Looping Through Lists

In [31]:
courses = ['History', 'Math' , 'Physics' , 'CompSci']
for item in courses:
    print(item)

History
Math
Physics
CompSci

In [32]:
courses = ['History', 'Math' , 'Physics' , 'CompSci']
for index,item in enumerate(courses):
    print(index,item)

0 History
1 Math
2 Physics
3 CompSci

### Lists to Strings

In [33]:
str(courses)

"['History', 'Math', 'Physics', 'CompSci']"

In [34]:
courses = ['History', 'Math' , 'Physics' , 'CompSci']
courses_str = ", ".join(courses)
courses_str

'History, Math, Physics, CompSci'

### List Comprehensions

In [35]:
alphabets = "abcd"
digits = "1234"

employee_id = [x + y for x in alphabets for y in digits]
employee_id

['a1',
 'a2',
 'a3',
 'a4',
 'b1',
 'b2',
 'b3',
 'b4',
 'c1',
 'c2',
 'c3',
 'c4',
 'd1',
 'd2',
 'd3',
 'd4']