In [1]:
first_name = "Raunaq"
last_name = "Bhalla"

print("First name is: {}".format(first_name))
print("Last name is: {}".format(last_name))

First name is: Raunaq
Last name is: Bhalla

In [2]:
print("Full name is: {}".format(first_name +" "+ last_name))

Full name is: Raunaq Bhalla

# Slicing Strings

In [3]:
sample = 'my name is'
sample

'my name is'

In [4]:
# Reversing the string
sample[::-1]

'si eman ym'

In [5]:
print(sample[0:4])
print(sample[:4])

my n
my n

## Split()

string.split(separator, maxsplit)
<br> separator = whitespace by default
<br> maxsplit = specifies number of splits = default value is -1 i.e. all occurences

In [6]:
my_string = "first second third"
my_string

'first second third'

In [7]:
my_list = my_string.split()
my_list

['first', 'second', 'third']

In [8]:
my_string = "a.b.c.d"
my_string

'a.b.c.d'

In [9]:
my_list = my_string.split(".")
my_list

['a', 'b', 'c', 'd']

In [10]:
my_list = my_string.split(".",1)
my_list

['a', 'b.c.d']

In [11]:
my_list = my_string.split(".",2)
my_list

['a', 'b', 'c.d']

In [12]:
my_list = my_string.split(".",3)
my_list

['a', 'b', 'c', 'd']

# Type Conversion

In [13]:
"Raunaq" + 2

TypeError: can only concatenate str (not "int") to str

In [14]:
"Raunaq" + str(2)

'Raunaq2'