# Date and Time Functionality

In [1]:
import datetime as dt
import time as tm
import pandas as pd
import numpy as np

In [2]:
current_time = tm.time()
current_time

1675184249.7118738

In [3]:
# Creating a timestamp using the datetime object

dt_now = dt.datetime.fromtimestamp(current_time)
dt_now

datetime.datetime(2023, 1, 31, 11, 57, 29, 711874)

In [4]:
dt_now.year , dt_now.day

(2023, 31)

In [5]:
# Time arithmetics using Time Delta

delta = dt.timedelta(days = 100)
today = dt.date.today()

print("Delta : {} days".format(delta))
print("Today's date: {}".format(today))
print("Delta Difference: {}".format(today -delta))

Delta : 100 days, 0:00:00 days
Today's date: 2023-01-31
Delta Difference: 2022-10-23

In [6]:
# Date comparison

today > today - delta

True

### TIMESTAMP

Pandas has four main time related classes. Timestamp, DatetimeIndex, Period, and PeriodIndex. Timestamp represents a single timestamp and associates values with points in time.

In [7]:
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [8]:
pd.Timestamp(2019, 12, 20, 0, 0)

Timestamp('2019-12-20 00:00:00')

In [9]:
pd.Timestamp(2019, 12, 20, 0, 0).isoweekday()

5

In [10]:
pd.Timestamp(2019, 12, 20, 5, 2, 23).second

23

### PERIOD

Period represents a single time span, such as a specific day or month.

In [11]:
pd.Period('1/2016')

# the granularity of the period is M for month, since that was the finest grained piece we provided

Period('2016-01', 'M')

In [12]:
pd.Period('3/5/2016')

Period('2016-03-05', 'D')

In [13]:
# Period Arithmetics

# The key here is that the period object encapsulates the granularity for arithmetic

pd.Period('1/2016') + 5

Period('2016-06', 'M')

In [14]:
pd.Period('3/5/2016') - 2

Period('2016-03-03', 'D')

### DATETIMEINDEX and PERIODINDEX

The index of a timestamp is DatetimeIndex

In [15]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), 
                             pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [16]:
# Looking at the type of our series index, we see that it's DatetimeIndex.
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [17]:
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), 
                             pd.Period('2016-11')])
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [18]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

### CONVERTING TO DATETIME

In [19]:
# Suppose we have a list of dates as strings and we want to create a new dataframe

d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']

ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d1, 
                   columns=list('ab'))
ts3

               a   b
2 June 2013   94  13
Aug 29, 2014  92  13
2015-06-26    80  89
7/12/16       16  25

In [20]:
# Using pandas to_datetime, pandas will try to convert these to Datetime and put them in a standard format.

ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  94  13
2014-08-29  92  13
2015-06-26  80  89
2016-07-12  16  25

In [21]:
# to_datetime also() has options to change the date parse order. For example, we 
# can pass in the argument dayfirst = True to parse the date in European date.

pd.to_datetime('4.7.12', dayfirst=True)

Timestamp('2012-07-04 00:00:00')

### TIMEDELTA

In [22]:
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [23]:
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

### OFFSET

Offset is similar to timedelta, but it follows specific calendar duration rules. Offset allows flexibility in terms of types of time intervals. Besides hour, day, week, month, etc it also has business day, end of month, semi month begin etc

In [24]:
pd.Timestamp('9/4/2016').weekday()

6

In [25]:
# Now we can now add the timestamp with a week ahead
pd.Timestamp('9/4/2016') + pd.offsets.Week()

Timestamp('2016-09-11 00:00:00')

In [26]:
# Now let's try to do the month end, then we would have the last day of Septemer
pd.Timestamp('9/4/2016') + pd.offsets.MonthEnd()

Timestamp('2016-09-30 00:00:00')

### DATES IN DATAFRAMES

In [27]:
# Suppose we want to look at nine measurements, taken bi-weekly, every Sunday, starting in October 2016. 

# Using date_range, we can create this DatetimeIndex. In data_range, we have to either specify the start or end date. 
# If it is not explicitly specified, by default, the date is considered the start date. 
# Then we have to specify number of periods, and a frequency. Here, we set it to "2W-SUN", which means biweekly on Sunday

dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [28]:
# There are many other frequencies that you can specify. For example, you can do business day
pd.date_range('10-01-2016', periods=9, freq='B')

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [29]:
# Or you can do quarterly, with the quarter start in June
pd.date_range('04-01-2016', periods=12, freq='QS-JUN')

DatetimeIndex(['2016-06-01', '2016-09-01', '2016-12-01', '2017-03-01',
               '2017-06-01', '2017-09-01', '2017-12-01', '2018-03-01',
               '2018-06-01', '2018-09-01', '2018-12-01', '2019-03-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [30]:
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [31]:
# Adding random data

df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5, 10, 9).cumsum(),
                  'Count 2': 120 + np.random.randint(-5, 10, 9)}, index=dates)
df

            Count 1  Count 2
2016-10-02      103      124
2016-10-16      102      124
2016-10-30      103      119
2016-11-13      105      123
2016-11-27      103      115
2016-12-11      100      127
2016-12-25      104      116
2017-01-08      104      120
2017-01-22      101      124

In [32]:
# First, we can check what day of the week a specific date is. For example, here we can see that all the dates
# in our index are on a Sunday. Which matches the frequency that we set

df.index.weekday

Int64Index([6, 6, 6, 6, 6, 6, 6, 6, 6], dtype='int64')

In [33]:
# We can also use diff() to find the difference between each date's value.
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16     -1.0      0.0
2016-10-30      1.0     -5.0
2016-11-13      2.0      4.0
2016-11-27     -2.0     -8.0
2016-12-11     -3.0     12.0
2016-12-25      4.0    -11.0
2017-01-08      0.0      4.0
2017-01-22     -3.0      4.0

In [34]:
# Suppose we want to know what the mean count is for each month in our DataFrame. We can do this using
# resample. Converting from a higher frequency from a lower frequency is called downsampling 

df.resample('M').mean()

               Count 1     Count 2
2016-10-31  102.666667  122.333333
2016-11-30  104.000000  119.000000
2016-12-31  102.000000  121.500000
2017-01-31  102.500000  122.000000

In [35]:
# Now let's talk about datetime indexing and slicing, which is a wonderful feature of the pandas DataFrame.
# For instance, we can use partial string indexing to find values from a particular year,
df['2017']

C:\Users\rauna\AppData\Local\Temp/ipykernel_51544/2587486182.py:3: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2017']

            Count 1  Count 2
2017-01-08      104      120
2017-01-22      101      124

In [36]:
# Or we can do it from a particular month
df['2016-12']

C:\Users\rauna\AppData\Local\Temp/ipykernel_51544/279890294.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2016-12']

            Count 1  Count 2
2016-12-11      100      127
2016-12-25      104      116

In [37]:
# Or we can even slice on a range of dates For example, here we only want the values from December 2016
# onwards.
df['2016-12':]

            Count 1  Count 2
2016-12-11      100      127
2016-12-25      104      116
2017-01-08      104      120
2017-01-22      101      124