# Pandas Series

Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). It can be considered as a cross between a list and a dictionary.
<br>
<br>
An easy way of visualising this is through columns of data. The first one is the special index - like keys in a dictionary. The second one is the actual data and has a label of its own that can be used to retrieve the data.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creating a Series object from text

students = ["Alice","Jack","Molly"]
print(pd.Series(students), "\n")


# Creating a Series of numbers

numbers = [1,2,3]
print(pd.Series(numbers))

0    Alice
1     Jack
2    Molly
dtype: object

0    1
1    2
2    3
dtype: int64

In [3]:
# Index Creation

a = pd.Series(["Physics","Chemistry","English"],
             index = ["Alice","Jack","Molly"])
a

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

### Missing Values

In [4]:
# Missing Values - Text

# If we create a list of strings and we have one element as "None" type, Pandas will insert it as "None"
# and use the type object for the underlying array.


students = ["Alice","Jack",None]
print(pd.Series(students))

0    Alice
1     Jack
2     None
dtype: object

In [5]:
# Missing Values - Numbers

# If we create a Series of numbers, integers or floats and put in the "None" type, Pandas will automatically convert it to
# a special floating point value "NaN"

numbers = [1,2,None]
print(pd.Series(numbers))

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
# Checking for Nan

numbers = [1,2,None]
a = pd.Series(numbers)
print("The pandas series is:\n",a)


# Method 1 : isna()
print("\n", a.isna())

# Method 2 : np.isnan()
print("\n", np.isnan(a))

The pandas series is:
 0    1.0
1    2.0
2    NaN
dtype: float64

 0    False
1    False
2     True
dtype: bool

 0    False
1    False
2     True
dtype: bool

### Labelled Series from Dictionaries

In [7]:
students_scores = {"Alice" : "Physics",
                  "Jack" : "Chemistry",
                  "Molly" : "English"}

a = pd.Series(students_scores)
a

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [8]:
# Accessing the index

a.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [9]:
# In case the list of values in the index object are not aligned with the keys of the dictionary,
# Pandas will override the automatic creation to favour only and all of the indices. Hence, it will 
# ignore from the dictionary, all keys which are not in the index and add None/NaN for all index 
# values not present in the dictionary key list.

students_scores = {"Alice" : "Physics",
                  "Jack" : "Chemistry",
                  "Molly" : "English"}

a = pd.Series(students_scores,
             index=["Alice","Molly","Sam"])
a

Alice    Physics
Molly    English
Sam          NaN
dtype: object

In [10]:
students_scores = {"Alice" : "Physics",
                  "Jack" : "Chemistry",
                  "Molly" : "English",
                  "Sam" : "Math"}

a = pd.Series(students_scores,
             index=["Alice","Jack","Molly"])
a

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object